spring:
  grpc:
    server:
      port: 9443
      ssl:
        bundle: grpcssl
  # When runnin on kubernetes, crossplane expects a TLS endpoint to be presented, and
  # injects the pod with the certificate and ca store to use. We just point to the mounted files
  # in our config to be compliant.
  ssl:
    bundle:
      pem:
        grpcssl:
          keystore:
            certificate: /tls/server/tls.crt
            private-key: /tls/server/tls.key
          truststore:
            certificate: /tls/server/ca.crt


